#!/bin/bash

set -eufo pipefail

{{- if eq .chezmoi.os "darwin" }}
brew="/opt/homebrew/bin/brew"
{{- else if eq .chezmoi.os "linux" }}
brew="/home/linuxbrew/.linuxbrew/bin/brew"
{{- end }}

echo "Installing brews for all"
$brew bundle --file=/dev/stdin <<EOF
{{ range .packages.all.brews -}}
brew {{ . | quote }}
{{ end -}}
EOF

echo "Installing Darwin packages"
brew bundle --file=/dev/stdin <<EOF
{{ range .packages.darwin.brews -}}
brew {{ . | quote }}
{{ end -}}
{{ range .packages.darwin.casks -}}
cask {{ . | quote }}
{{ end -}}
EOF

{{- if eq .chezmoi.os "liunx" }}
{{- if eq .chezmoi.osRelease.id "fedora" }}
echo "Installing Fedora packages"
sudo dnf install -y {{- range .packages.linux.dnf }} {{ . }}{{ end }}
{{ end }}
{{- end }}
