{{ if eq .chezmoi.os "darwin" -}}
command = "/opt/homebrew/bin/fish -l"
{{ else if eq .chezmoi.os "linux" -}}
command = "/home/linuxbrew/.linuxbrew/bin/fish -l"
{{ end -}}
theme = "Catppuccin Macchiato"
font-family = "MonoLisa"
font-family-italic = "MonoLisa Script"
