{{ if eq .chezmoi.os "linux" -}}
#!/bin/bash

set -eufo pipefail

if ! apt-cache policy | grep "https://downloads.1password.com" >/dev/null;then
    echo "Installing 1Password repository..."
    
    # https://support.1password.com/install-linux/#debian-or-ubuntu
    curl -sS https://downloads.1password.com/linux/keys/1password.asc | sudo gpg --dearmor --output /usr/share/keyrings/1password-archive-keyring.gpg

    echo 'deb [arch=amd64 signed-by=/usr/share/keyrings/1password-archive-keyring.gpg] https://downloads.1password.com/linux/debian/amd64 stable main' | sudo tee /etc/apt/sources.list.d/1password.list

    sudo mkdir -p /etc/debsig/policies/AC2D62742012EA22/
    curl -sS https://downloads.1password.com/linux/debian/debsig/1password.pol | sudo tee /etc/debsig/policies/AC2D62742012EA22/1password.pol
    sudo mkdir -p /usr/share/debsig/keyrings/AC2D62742012EA22
    curl -sS https://downloads.1password.com/linux/keys/1password.asc | sudo gpg --dearmor --output /usr/share/debsig/keyrings/AC2D62742012EA22/debsig.gpg
else
    echo "1Password repository already installed..."
fi

echo "Installing 1Password and 1Password-cli"
sudo apt-get --yes update
sudo apt-get --yes install 1password 1password-cli

{{ end }}
