{{ if eq .chezmoi.os "linux" -}}
#!/bin/bash

set -eufo pipefail

if ! apt-cache policy | grep "fish-shell" >/dev/null;then
    echo "Installing Fish repository..."
    sudo apt-add-repository --yes ppa:fish-shell/release-3	    
else
    echo "Fish repository already installed..."
fi

echo "Installing Fish shell." 
sudo apt-get --yes update
sudo apt-get --yes install fish

{{ end }}
