{{ if (eq .chezmoi.os "linux") -}}
#!/bin/bash

set -eufo pipefail

echo "Configuring Neovim..."
/home/linuxbrew/.linuxbrew/bin/nvim --headless -c 'autocmd User PackerComplete quitall' -c 'PackerSync'

{{ end }}
